@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1>@ViewData["Title"]</h1>
<vc:Summary></vc:Summary>
<p>
    <a class="btn btn-info" asp-action="Create">Adicionar novo produto</a>
</p>

<partial name="_ListaProdutos" />
